*{
    margin: 0;
    padding: 0;
}
p{
    width: 350px;
    border: 3px solid red;
    height: 250px;
    text-align: justify;
    padding: 18px;
    }

p.first{
    background-color: aquamarine;
}
p.second{
    background-color: pink;
}
p.third{
    background-color: rgb(134, 134, 229);
}

div{
    display: flex;
    justify-content : center;
    align-items: center;
    background-color: rgb(156, 101, 207);
    height: 400px;
    gap: 15px;
    flex-wrap: wrap;
}